<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="/signin"><li>Sign in</li></a>
        <a href="/signup"><li>Sign up</li></a>
      </ul>
    </div>
  </nav>
</div>
<html>
    <div id="textbox">
      <div id="content">
        <h2>WineNot</h2>
        <p>
          We are wine lovers, who are always looking for the best experiencies around friends.
 	        We believe wine should be shared and want it to be enjoyed by anyone. 
          <br>Join our world of wine, we promise it will be fun! 
          </p>
      </div>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>


<div class="Iam">

<p>WineNot is</p>
<div class="colors">
						<span>sharing</span>
						<span>drinking</span>
						<span>creating</span>
						<span>having fun</span>
						<span>dancing</span>
				
					</div>


</div>




