<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="/signin"><li>Sign in</li></a>
        <a href="/signup"><li>Sign up</li></a>
      </ul>
    </div>
  </nav>
</div>
<html>
    <div id="textbox">
      <div id="content">
        <h2>Winenot?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Eos repellendus illum, consequatur inventore consectetur nostrum? 
          </p>
      </div>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="Iam">

<p>WineNot is</p>
<b>
  <div class="innerIam">
    sharing<br /> 
    drinking<br />
    dancing<br />
    creating<br />
    havingfun
    </div>
</b>

</div>
</body>
