<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="/signin"><li>Sign in</li></a>
        <a href="/signup"><li>Sign up</li></a>
      </ul>
    </div>
  </nav>
</div>