<body class="notfound-bg">
  <div class="error_page">
  <h1 class="error_title centered">
    
    <span class="highlightQuiz" > Drinking too much wine? </span>
    <p class="errorFour"> ERROR 404 </p>

    </h1>
  </div>

  <div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">

        <a href="/profile"><li>My collection</li></a>
        <a href="/quiz"><li>Quiz</li></a>
        <a href="/collection"><li>Wine collection</li></a>
        <a href="/random-wine"><li>Random Wine</li></a>
        <a href="/logout"><li>Log out</li></a>
      </ul>
    </div>
  </nav>
</div>

</body> 

