.filter-wines {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.singl-wine-btn {
  background: none;
  font-size: 1.3rem;
  border: none;
  color: white;
  padding-right: 1rem;
}

.red-wines {
  padding-left: 1rem;
  border-left: white solid 1px;
}

.clear-wines {
  padding-left: 25.5rem;
}
