.random-bg {
  background-image: url("/images/wine3.png");
  background-color: #cccccc;
}

.randomcenter {
  left: 510px;
  letter-spacing: 3px;
}

#logo {
  width: 60px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

.random-container {
  display: flex;
  flex-direction: column;
}

.cards .random {
  background: none;
  font-size: 1.3rem;
  
  height: 100%;
  text-align: center;
 
  left: 430px;
}

.card__title .random {
  font-size: 1.8rem;
}

.card__status .random {
  font-size: 1.5rem;
  text-align: center;
}

.buy-wrapper {
  background: rgba(36, 34, 35, 0.8);
  padding: 2rem;
  text-align: center;
  font-size: 0.6rem;
}

.card__description .random {
  background: none;
}

.random-wine1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-collection1 {
  display: flex;
}

.my-card1 {
  width: 400px;
  height: 450px;
  object-fit: contain;
}
