body {
  margin: 0;
  padding: 0;
  background-image: url("/images/wine.jpeg");

  font-family: "Barlow", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

:root {
  --primaryColor: #242223;
  --secondaryColor: #cdcdcd;
  --boldColor: tomato;
  --secondaryFontColor: white;
  --loginColor: #31393c;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #13171b;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor: tomato;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: tomato;
  --baseColor: #606468;
  --iconFill: var(--baseColor);
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Barlow", sans-serif;
  --bodyFontFamilyFallback: "Barlow", sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --formGap: 0.875rem;
}



a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
  color: var(--anchorColor);
  outline: 0;
}

a:hover {
  color: tomato;
}

