<body class="quiz-bg"> 
<h1 class="title-collection">
Your perfect wine is: 
</h1>



    {{#if wine}}
     
      <ul class="cards random">

        <li class="card-wine random">
          <img src="{{wine.imageUrl}}" class="card__image" alt="" />
          <div class="card__overlay">
            <div class="card__header">
              <div class="card__header-text">
                <h3 class="card__title random">{{wine.title}}</h3>
                <span class="card__status random">{{wine.price}} </span>
              </div>
            </div>
            <div class="buy-wrapper">
              <a href="{{wine.link}}" class="card__description random">Buy here </a>
            </div>
          </div>
        </li>

      </ul>
    {{/if}}


</h2>
<div class="landing"> 
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/logout"><li>Log out</li></a>
      <a href="/profile"><li>My collection</li></a>
      <a href="/quiz"><li>Quiz</li></a>
      <a href="/collection"><li>Our collection</li></a>
      <a href="/random-wine"><li>Random Wine</li></a>
     </ul>
  </div>
</nav>
</div>
</body>