<body class="quiz-bg"> 
<h1 class="title-collection">
Your perfect wine is: 
</h1>


<section class="card-container random-wine1">
    <ul class="cards cards-collection1">
       {{#if wine}}

        <div class="each-card">
          <img src="{{wine.imageUrl}}" class="card__image my-card1" alt="" />
          <div class="card__overlay1">
            <div class="card__header1">
              <div class="card__header-text">
                <h3 class="card__title">{{wine.title}}</h3>
                <span class="card__status">{{wine.price}} </span>
              </div>
              <a href="{{wine.link}}" class="card__description">Buy here</a>

            </div>

          </div>
        </div>

   {{/if}}
    </ul>
  </section>


</h2>
<div class="landing"> 
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/logout"><li>Log out</li></a>
      <a href="/profile"><li>My collection</li></a>
      <a href="/quiz"><li>Quiz</li></a>
      <a href="/collection"><li>Our collection</li></a>
      <a href="/random-wine"><li>Random Wine</li></a>
     </ul>
  </div>
</nav>
</div>
</body>