<h1 class="title-collection">
Try this Sauvignon Blanc
</h1>
<div class="landing"> 
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/logout"><li>Log out</li></a>
      <a href="/profile"><li>My collection</li></a>
      <a href="/quiz"><li>Quiz</li></a>
      <a href="/collection"><li>Our collection</li></a>
      <a href="/random-wine"><li>Random Wine</li></a>
     </ul>
  </div>
</nav>
</div>