<body class="collection-bg">
<h1 class="title-collection">
  Wine Collection
</h1>

<div class="landing">
  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">

        <a href="/profile"><li>My collection</li></a>
        <a href="/quiz"><li>Quiz</li></a>
        <a href="/collection"><li>Wine collection</li></a>
        <a href="/random-wine"><li>Surprise me!</li></a>
        <a href="/logout"><li>Log out</li></a>
      </ul>
    </div>
  </nav>
</div>

<div class="filter-wines">
  <form action="/collection/white" method="POST">
    <button type="submit" class="singl-wine-btn white-wines">White wines</button>
  </form>
  <form action="/collection/red" method="POST">
    <button type="submit" class="singl-wine-btn red-wines">Red wines</button>
  </form>

  <form action="/collection" method="POST">
    <button type="submit" class="singl-wine-btn clear-wines">Clear</button>
  </form>
</div>

<section class="card-container">
  <ul class="cards collection">
    {{#each wines}}
      <li>

        <img src="{{this.imageUrl}}" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">{{this.title}}</h3>

              <span class="card__status">{{this.price}} </span>
            </div>
          </div>
          <a href="{{this.link}}" class="card__description">Buy here</a>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
