<h1 class="title-collection">

QUIZ PAGE
</h1>

<div class="landing"> 
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="/logout"><li>Log out</li></a>
      <a href="/profile"><li>My collection</li></a>      
      <a href="/quiz"><li>Quiz</li></a>
      <a href="/collection"><li>Our collection</li></a>
      <a href="/random-wine"><li>Random Wine</li></a>
     </ul>
  </div>
</nav>
</div>

<div class="container bodyquiz">
  <div id="question-container" class="hide">
    <div id="question">Question</div>
    <div id="answer-buttons" class="btn-grid">
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 2</button>
      <button class="btn">Answer 3</button>
      <button class="btn">Answer 4</button>
    </div>
  </div>
  <div class="controls">
    <button id="start-btn" class="start-btn btn">Start</button>
    <a href="/merlot-result"><button id="merlot-btn" class="start-btn btn hide">See result</button></a>
    <a href="/pinotn-result"><button id="pinotn-btn" class="start-btn btn hide">See result</button></a>
    <a href="/pinotg-result"><button id="pinotg-btn" class="start-btn btn hide">See result</button></a>
    <a href="/sauvignonblanc-result"><button id="sauv-btn" class="start-btn btn hide">See result</button></a>
    <button id="next-btn" class="next-btn btn hide">Next</button>
  </div>
</div>
      
     

